<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_QuickView::group"
             title="Quick View"
             module="Panth_QuickView"
             sortOrder="55"
             parent="Panth_Core::panth_extensions"
             resource="Panth_QuickView::config"/>
        <add id="Panth_QuickView::settings"
             title="Configuration"
             module="Panth_QuickView"
             sortOrder="10"
             parent="Panth_QuickView::group"
             action="adminhtml/system_config/edit/section/panth_quickview"
             resource="Panth_QuickView::config"/>
        <add id="Panth_QuickView::view_tracker_menu"
             title="View Tracker"
             module="Panth_QuickView"
             sortOrder="20"
             parent="Panth_QuickView::group"
             action="quickview/viewtracker/index"
             resource="Panth_QuickView::view_tracker"/>
    </menu>
</config>
