<?xml version="1.0"?>
<!--
/**
 * Copyright © Panth Infotech. All rights reserved.
 * System Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="panth" translate="label" sortOrder="400">
            <label>🚀 Panth Extensions</label>
        </tab>

        <section id="panth_quickview" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Quick View</label>
            <tab>panth</tab>
            <resource>Panth_QuickView::config</resource>

            <!-- General Settings -->
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Quick View</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Shows the Quick View button on product listings and loads the quick view modal. Product page view tracking for the View Tracker report runs regardless of this setting.</comment>
                </field>
            </group>

            <!-- Display Settings -->
            <group id="display" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display Settings</label>
                <field id="show_image_gallery" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Product Image Gallery</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Shows thumbnails under the main image when the product has more than one gallery image (thumbnails are hidden on phones).</comment>
                    <depends>
                        <field id="panth_quickview/general/enabled">1</field>
                    </depends>
                </field>
                <field id="show_short_description" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Short Description</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Shows the short description (or the description when no short description is set) as plain text, cut to about 300 characters.</comment>
                    <depends>
                        <field id="panth_quickview/general/enabled">1</field>
                    </depends>
                </field>
                <field id="show_sku" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show SKU</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Shows the product SKU under the product name.</comment>
                    <depends>
                        <field id="panth_quickview/general/enabled">1</field>
                    </depends>
                </field>
                <field id="show_stock_status" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Stock Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Shows an In Stock or Out of Stock badge.</comment>
                    <depends>
                        <field id="panth_quickview/general/enabled">1</field>
                    </depends>
                </field>
                <field id="show_add_to_cart" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Add to Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Shows the quantity selector and Add to Cart button for in-stock simple and virtual products. Products with options always link to the product page.</comment>
                    <depends>
                        <field id="panth_quickview/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
